# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Spencer Murray
	email = spencer.murray@sentry.io
[core]
	excludesFile = ~/.gitignore
[credential]
	helper = store
[credential "https://dev.azure.com"]
	useHttpPath = true
[init]
	defaultBranch = main
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
