* {
    border: none;
    border-radius: 0;
    font-family: sans-serif;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: white;
}

tooltip {
  background: #000000;
  border: 1px solid #6d712e;
}

tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
}

#workspaces button.focused {
    background: #6D712E;
}

#pulseaudio {
    background-color: #6D712E;
    color: #ffffff;
    padding: 1px 5px;
}

#backlight {
    background-color: #4b0082;
    padding: 1px 5px;
    border-radius: 5px;
    margin: 2px 0px;
}

#network {
    background-color: #6D712E;
    padding: 1px 5px;
    color: #ffffff;
}

#cpu {
    background-color: #008000;
    padding: 1px 5px;
    border-radius: 5px;
    margin: 2px 0px;
}

#memory {
    background-color: #ffff00;
    padding: 1px 5px;
    border-radius: 5px;
    color: #000000;
    margin: 2px 0px;
}

#temperature {
    background-color: #6D712E;
    padding: 1px 5px;
    color: #ffffff;
}

#clock {
    padding: 1px 10px;
    color: #ffffff;
    background-color: #000000;
}

#battery {
    color: #ffffff;
    background-color: #6D712E;
    padding: 1px 5px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
