* {
  background-color: #000000;
  border-color: #6d712e;
  text-color: #ffffff;
  spacing: 0;
  width: 512px;
}

inputbar {
  border: 2px;
  children: [prompt,entry];
}

prompt {
  padding: 8px;
}

textbox {
  background-color: #2e343f;
  border-color: #6d712e;
  padding: 8px 16px;
}

entry {
  padding: 8px;
}

listview {
  cycle: false;
  margin: 0 0 -1px 0;
  scrollbar: false;
}

element {
  padding: 8px;
}

element selected {
  border-color: #6d712e;
  border: 2px;
  border-radius: 30px;
}
